<div class="invoice p-3 mb-3">
    <div class="row text-center">
        {% set headers = ['left', 'center', 'right'] %}
        {% for header in headers %}
            {% set float = 'class="float-' ~ header ~ '"' %}
            {% if header == 'center' %}
                {% set float = '' %}
            {% endif %}
            <div class="col">
                {% if organisationSettings[print ~ '_header_' ~ header ~ '_text'] is defined %}
                    {% set size = '14' %}
                    {% if header == 'center' %}
                        {% set size = '25' %}
                    {% endif %}
                    {% set color = 'black' %}
                    {% set textArr = explode('|', organisationSettings[print ~ '_header_' ~ header ~ '_text']) %}
                    {% if textArr|length > 2 %}
                        {% set text = textArr[0] %}
                        {% set size = textArr[1] %}
                        {% set color = textArr[2] %}
                    {% elseif textArr|length > 1 %}
                        {% set text = textArr[0] %}
                        {% set size = textArr[1] %}
                    {% elseif textArr|length == 1 %}
                        {% set text = textArr[0] %}
                    {% endif %}
                    {% set style = '' %}
                    {% if textArr[3] is defined %}
                        {% if textArr[3] == 'ui' %}
                            {% set style = 'font-style: italic;text-decoration:underline' %}
                        {% elseif textArr[3] == 'u' %}
                            {% set style = 'text-decoration:underline' %}
                        {% elseif textArr[3] == 'i' %}
                            {% set style = 'font-style: italic' %}
                        {% endif %}
                    {% endif %}
                    <span {{ float }} style="color: {{ color }}; font-size: {{ size }}px;{{ style }}">{{text}}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row text-center">
        <div class="col">
            {% if job['organisation']['logo'] is defined %}
                <img src="{{links.url('system/storages/q/uuid/' ~ job['organisation']['logo'] ~ '/w/80')}}" class="rounded-sm" style="position:relative;top: -1px; width:80px;" alt="Company Logo">
            {% else %}
                <img src="{{links.images('general/logo.png')}}" class="rounded-sm" style="position:relative;top: -1px; width:80px;" alt="Company Logo">
            {% endif %}
            <h1 style="display: inline;position: relative;top: 7px;">{{ job['organisation']['name'] }}</h1>
            <h5>{{ job['organisation']['description'] }}</h5>
            {% if job['organisation']['addresses'][0] is defined %}
                {% if job['organisation']['addresses'][0]['street_address'] != '' %}
                    {{ job['organisation']['addresses'][0]['street_address'] }}
                {% endif %}
                {% if job['organisation']['addresses'][0]['street_address_2'] != '' %}
                    {{ job['organisation']['addresses'][0]['street_address_2'] }}
                {% endif %}
                {% if job['organisation']['addresses'][0]['street_address_3'] != '' %}
                    {{ job['organisation']['addresses'][0]['street_address_3'] }}
                {% endif %}
                {% if job['organisation']['addresses'][0]['street_address_4'] != '' %}
                    {{ job['organisation']['addresses'][0]['street_address_4'] }}
                {% endif %}
                {% if job['organisation']['addresses'][0]['city_name'] != '' %}
                    {{ job['organisation']['addresses'][0]['city_name'] }}
                {% endif %}
                {% if job['organisation']['addresses'][0]['post_code'] != '' %}
                    - {{ job['organisation']['addresses'][0]['post_code'] }}
                {% endif %}
                {% if job['organisation']['addresses'][0]['state_name'] != '' %}
                    ({{ job['organisation']['addresses'][0]['state_name'] }})
                {% endif %}
                {% if job['organisation']['company_phone_1'] != '' %}
                    Phone: {{ job['organisation']['company_phone_1'] }}<br>
                {% endif %}
            {% else %}
                MAIN ADDRESS MISSING!
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <span class="text-uppercase">Consignor Name & Address:</span>
            <address>
                <strong>{{ consignor['name'] }}</strong><br>
                {% if consignorAddresses[job['from_company_address_id']] is defined %}
                    {% if consignorAddresses[job['from_company_address_id']]['street_address'] != '' %}
                        {{ consignorAddresses[job['from_company_address_id']]['street_address'] }}<br>
                    {% endif %}
                    {% if consignorAddresses[job['from_company_address_id']]['street_address_2'] != '' %}
                        {{ consignorAddresses[job['from_company_address_id']]['street_address_2'] }}<br>
                    {% endif %}
                    {% if consignorAddresses[job['from_company_address_id']]['street_address_3'] != '' %}
                        {{ consignorAddresses[job['from_company_address_id']]['street_address_3'] }}<br>
                    {% endif %}
                    {% if consignorAddresses[job['from_company_address_id']]['street_address_4'] != '' %}
                        {{ consignorAddresses[job['from_company_address_id']]['street_address_4'] }}<br>
                    {% endif %}
                    {% if consignorAddresses[job['from_company_address_id']]['city_name'] != '' %}
                        {{ consignorAddresses[job['from_company_address_id']]['city_name'] }}
                    {% endif %}
                    {% if consignorAddresses[job['from_company_address_id']]['post_code'] != '' %}
                        - {{ consignorAddresses[job['from_company_address_id']]['post_code'] }}
                    {% endif %}
                    {% if consignorAddresses[job['from_company_address_id']]['state_name'] != '' %}
                        ({{ consignorAddresses[job['from_company_address_id']]['state_name'] }})
                    {% endif %}
                {% else %}
                    Consignor address missing!
                {% endif %}
            </address>
        </div>
        <div class="col-sm-4 invoice-col">
            <span class="text-uppercase">Consignee Name & Address:</span>
            <address>
                <strong>{{ consignee['name'] }}</strong><br>
                {% if consigneeAddresses[job['to_company_address_id']] is defined %}
                    {% if consigneeAddresses[job['to_company_address_id']]['street_address'] != '' %}
                        {{ consigneeAddresses[job['to_company_address_id']]['street_address'] }}<br>
                    {% endif %}
                    {% if consigneeAddresses[job['to_company_address_id']]['street_address_2'] != '' %}
                        {{ consigneeAddresses[job['to_company_address_id']]['street_address_2'] }}<br>
                    {% endif %}
                    {% if consigneeAddresses[job['to_company_address_id']]['street_address_3'] != '' %}
                        {{ consigneeAddresses[job['to_company_address_id']]['street_address_3'] }}<br>
                    {% endif %}
                    {% if consigneeAddresses[job['to_company_address_id']]['street_address_4'] != '' %}
                        {{ consigneeAddresses[job['to_company_address_id']]['street_address_4'] }}<br>
                    {% endif %}
                    {% if consigneeAddresses[job['to_company_address_id']]['city_name'] != '' %}
                        {{ consigneeAddresses[job['to_company_address_id']]['city_name'] }}
                    {% endif %}
                    {% if consigneeAddresses[job['to_company_address_id']]['post_code'] != '' %}
                        - {{ consigneeAddresses[job['to_company_address_id']]['post_code'] }}
                    {% endif %}
                    {% if consigneeAddresses[job['to_company_address_id']]['state_name'] != '' %}
                        ({{ consigneeAddresses[job['to_company_address_id']]['state_name'] }})
                    {% endif %}
                {% else %}
                    Consignor address missing!
                {% endif %}
            </address>
        </div>
        <div class="col-sm-4 invoice-col">
            <span class="text-uppercase">Details:</span>
            <address>
                <b>Date:</b> {{job['date']}}<br>
                <b>Lorry Receipt#</b> <span>{{job['id']}}</span><br>
                <b>Vehicle#</b> {{vehicles[job['vehicle_id']]['registration_no']}}<br>
                {% if consignorAddresses[job['from_company_address_id']]['city_name'] != '' %}
                    <b>From: </b> {{ consignorAddresses[job['from_company_address_id']]['city_name'] }}
                {% endif %}
                {% if consigneeAddresses[job['to_company_address_id']]['city_name'] != '' %}
                    <b>To: </b> {{ consigneeAddresses[job['to_company_address_id']]['city_name'] }}<br>
                {% endif %}
            </address>
        </div>
    </div>
    {% set tableData = '' %}
    {% if job['charges'] is defined and job['charges']|length > 0 %}
        {% for charge in job['charges'] %}
            {% if charge['visibility'] is not defined or charge['visibility'] == '2' %}
                {% continue %}
            {% endif %}
            {% set tableData = tableData ~ '<tr id="' ~ charge['id'] ~ '">' %}
                {% if charges is defined and charges[charge['charge_id']] is defined %}
                    {% set tableData = tableData ~ '<td>' ~ charges[charge['charge_id']]['display_name'] ~ '</td>' %}
                {% else %}
                    {% set tableData = tableData ~ '<td>UNKNOWN</td>' %}
                {% endif %}
                {% if organisationSettings[print ~ '_table_columns_to_show'] is defined and is_array(organisationSettings[print ~ '_table_columns_to_show']) and organisationSettings[print ~ '_table_columns_to_show']|length > 0 %}
                    {% if in_array('qty', organisationSettings[print ~ '_table_columns_to_show']) %}
                        {% if charge['quantity'] %}
                            {% set tableData = tableData ~ '<td>' ~ charge['quantity'] ~ '</td>' %}
                        {% else %}
                            {% set tableData = tableData ~ '<td>-</td>' %}
                        {% endif %}
                    {% endif %}
                    {% if in_array('qty_uom', organisationSettings[print ~ '_table_columns_to_show']) %}
                        {% if charge['quantity_uom_id'] %}
                            {% if uoms is defined and uoms[charge['quantity_uom_id']] is defined %}
                                {% set tableData = tableData ~ '<td>' ~ uoms[charge['quantity_uom_id']]['name'] ~ '</td>' %}
                            {% endif %}
                        {% else %}
                            {% set tableData = tableData ~ '<td>-</td>' %}
                        {% endif %}
                    {% endif %}
                    {% if in_array('rate', organisationSettings[print ~ '_table_columns_to_show']) %}
                        {% if charge['rate'] %}
                            {% set tableData = tableData ~ '<td>' ~ charge['rate'] ~ '</td>' %}
                        {% else %}
                            {% set tableData = tableData ~ '<td>-</td>' %}
                        {% endif %}
                    {% endif %}
                    {% if in_array('rate_uom', organisationSettings[print ~ '_table_columns_to_show']) %}
                        {% if charge['rate_uom_id'] %}
                            {% if uoms is defined and uoms[charge['rate_uom_id']] is defined %}
                                {% set tableData = tableData ~ '<td>' ~ uoms[charge['rate_uom_id']]['name'] ~ '</td>' %}
                            {% endif %}
                        {% else %}
                            {% set tableData = tableData ~ '<td>-</td>' %}
                        {% endif %}
                    {% endif %}
                    {% if in_array('amount', organisationSettings[print ~ '_table_columns_to_show']) %}
                        {% if charge['amount'] %}
                            {% set tableData = tableData ~ '<td>' ~ charge['amount'] ~ '</td>' %}
                        {% else %}
                            {% set tableData = tableData ~ '<td>-</td>' %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if charge['quantity'] %}
                        {% set tableData = tableData ~ '<td>' ~ charge['quantity'] ~ '</td>' %}
                    {% else %}
                        {% set tableData = tableData ~ '<td>-</td>' %}
                    {% endif %}
                    {% if charge['quantity_uom_id'] %}
                        {% if uoms is defined and uoms[charge['quantity_uom_id']] is defined %}
                            {% set tableData = tableData ~ '<td>' ~ uoms[charge['quantity_uom_id']]['name'] ~ '</td>' %}
                        {% endif %}
                    {% else %}
                        {% set tableData = tableData ~ '<td>-</td>' %}
                    {% endif %}
                {% endif %}
                {% set tableData = tableData ~ '</tr>' %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-12 table-responsive">
            <table id="{{componentId}}-{{sectionId}}-invoice-table" class="table table-striped table-sm responsive" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-uppercase">Name</th>
                        {% if organisationSettings[print ~ '_table_columns_to_show'] is defined and is_array(organisationSettings[print ~ '_table_columns_to_show']) and organisationSettings[print ~ '_table_columns_to_show']|length > 0 %}
                            {% if in_array('qty', organisationSettings[print ~ '_table_columns_to_show']) %}
                                <th class="text-uppercase">QTY</th>
                            {% endif %}
                            {% if in_array('qty_uom', organisationSettings[print ~ '_table_columns_to_show']) %}
                                <th class="text-uppercase">QTY UoM</th>
                            {% endif %}
                            {% if in_array('rate', organisationSettings[print ~ '_table_columns_to_show']) %}
                                <th class="text-uppercase">{{ currencySymbol }} Rate</th>
                            {% endif %}
                            {% if in_array('rate_uom', organisationSettings[print ~ '_table_columns_to_show']) %}
                                <th class="text-uppercase">Rate UoM</th>
                            {% endif %}
                            {% if in_array('amount', organisationSettings[print ~ '_table_columns_to_show']) %}
                                <th class="text-uppercase">{{ currencySymbol }} AMOUNT</th>
                            {% endif %}
                        {% else %}
                            <th class="text-uppercase">QTY</th>
                            <th class="text-uppercase">QTY UoM</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>{{tableData}}</tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% set notes = '' %}
            {% if showLrNotes and job[print ~ '_notes'] != '' %}
                {% set notes = job[print ~ '_notes'] %}
            {% endif %}
            {% if notes != '' %}
                <p class="font-weight-bold mb-0">NOTE:</p>
                <p class="well well-xs shadow-none">{{notes}}</p>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <h4 class="pb-5">For {{ job['organisation']['name'] }}</h4>
            <h6 class="pt-1">(Authorised Signatory)</h6>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        {% set footers = ['left', 'center', 'right'] %}
        {% for footer in footers %}
            {% set float = 'class="float-' ~ footer ~ '"' %}
            {% if footer == 'center' %}
                {% set float = '' %}
            {% endif %}
            <div class="col">
                {% if organisationSettings[print ~ '_footer_' ~ footer ~ '_text'] is defined %}
                    {% set size = '14' %}
                    {% if footer == 'center' %}
                        {% set size = '25' %}
                    {% endif %}
                    {% set color = 'black' %}
                    {% set textArr = explode('|', organisationSettings[print ~ '_footer_' ~ footer ~ '_text']) %}
                    {% if textArr|length > 2 %}
                        {% set text = textArr[0] %}
                        {% set size = textArr[1] %}
                        {% set color = textArr[2] %}
                    {% elseif textArr|length > 1 %}
                        {% set text = textArr[0] %}
                        {% set size = textArr[1] %}
                    {% elseif textArr|length == 1 %}
                        {% set text = textArr[0] %}
                    {% endif %}
                    {% set style = '' %}
                    {% if textArr[3] is defined %}
                        {% if textArr[3] == 'ui' %}
                            {% set style = 'font-style: italic;text-decoration:underline' %}
                        {% elseif textArr[3] == 'u' %}
                            {% set style = 'text-decoration:underline' %}
                        {% elseif textArr[3] == 'i' %}
                            {% set style = 'font-style: italic' %}
                        {% endif %}
                    {% endif %}
                    <span {{ float }} style="color: {{ color }}; font-size: {{ size }}px;{{ style }}">{{text}}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>